/* 热门分类部分 */
*{
    margin: 0;
    padding: 0;
}

.list_title{
    height: 100px;
    border-bottom: 2px solid #e7e7e7;
}

.list_title li{
    display: flex;
    align-items: center;
    float: left;
    width: 140px;
    height: 100px;
    margin-right: 30px;
}

.list_title .first{
    border-bottom: 2px solid #49b8f0;
}

.list_title li a{
    display: flex;
    align-items: center;
    margin: auto 0;
    transition: all .4s;
}

.list_title li a:hover{
    color: #49b8f0;
}

.list_title li a span{
    font-size: 20px;
    padding-left: 10px;

}

.list_title li a img{
    width: 30%;
    height: 30%;
}

.welcome{
    display: flex;
    align-items: center;
    height: 85px;
    font-size: 18px;
    color: #505050;
}

/* 主题视频部分 */
.video::after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/* 视频封面部分 */
.video li{
    position: relative;
    float: left;
    width: 800px;
    height: 153px;
    z-index: 10;
    border-radius: 10px;
    padding-bottom: 50px;
}

.video .video_cover{
    float: left;
}

.video li .cover{
    width: 275px;
    height: 153px;
}

.video li a .cover img{
    width: 100%;
    height:153px;
    border-radius: 10px;
}

.video ul li .cover{
    position: relative;
    border-radius: 10px;
}

.video ul li .mask{
    position:absolute;
    top: 0;
    left: 0;
    width: 275px;
    height: 0px; 
    border-radius: 10px;
    background: rgba(0, 0, 0, .4) url(../images/播放.png) no-repeat center ;
    z-index: 12;
    transition: all .4s;
}

.video .cover:hover .mask{
    height: 153px;
}
.video ul li em{
    position:absolute;
    top:-5px;
    left: 250px;
    z-index: 14;
}

/* 视频标题部分 */
.video_card{
    float: left;
}

.video_card .video_name{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}


.video_card .video_details{
    margin-top: 63px;
}
.video_card .video_details>span{
    display: block;
    margin-left: 18px;
    font-size: 15px;
    margin-top: 2px;
}
.video_card .video_details .video_stat span{
    float: left;
}

.video_card .video_details .video_tag{
    width: 62px;
    height: 22px;
    margin-left: 22px;
    background: #fff1ed;
    color: #ff6633;
}

.video_card .play_text img{
    width: 30%;
    height: 30%;
}

.video_card .like_text img{
    width: 30%;
    height: 30%;
}

.up_name{
    color: #999999;
}
.video_stat span{
    display: flex;
    align-items: center;
    width: 60px;
    color: #999999;
}

.like_text{
    margin-left: 20px;
}

